:root {
  --main-bg-color: #352536;
  --container-color: #3c2d3e;
  --button-bg-color: #ffab30;
  --button-bg-color-hover: #ffc571;
  --button-color: black;
  --active-color: #352536;
  --text-grey-color: #888991;
  --text-white-color: white;
  --ready-color: #1ed760;
  --not-ready-color: #ffb800;
  --left-container-color: #291d2b;
  --default-font: "Segoe UI", sans-serif;
  --font-big: 16px;
  --font-normal: 14px;
  --font-small: 12px;
  --cursor-hover: pointer;
  --border-radius: 2px;
  --table-hover: #433545;
  --table-even: #3f3142;
  --table-th-bg: #463848;
  --table-th-cl: #908891;
  --shadow_color: #291d2b;
}
