:root {
  --main-bg-color: #252836;
  --container-color: #2d303e;
  --button-bg-color: #087fef;
  --button-bg-color-hover: #50a9fc;
  --button-color: white;
  --active-color: #252836;
  --text-grey-color: #888991;
  --text-white-color: white;
  --ready-color: #1ed760;
  --not-ready-color: #ffb800;
  --left-container-color: #1f1d2b;
  --default-font: "Segoe UI", sans-serif;
  --font-big: 16px;
  --font-normal: 14px;
  --font-small: 12px;
  --cursor-hover: pointer;
  --border-radius: 2px;
  --table-hover: #353845;
  --table-even: #313542;
  --table-th-bg: #383b48;
  --table-th-cl: #888991;
  --shadow_color: rgb(37, 35, 51);
}
